@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

body {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 16px;
    background-color: rgb(102, 96, 96);
    overflow-x:hidden;
}