@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

body {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 16px;
    background-color: rgb(102, 96, 96);
    overflow-x:hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.search-form {
    width: 5    00px;
    margin-top: 30px;
}
.search{
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.suggestions{
    padding: 0px;
}

.suggestions li{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
.hl {
    background-color: yellow;
}