@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  background-color: rgb(148, 139, 139);
  overflow-x:hidden;
  background-image: url('./images/concert.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.keys{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    margin: 5px;    
}

.key {
    width: 90px;
    height: 90px;
    border: 3px solid rgba(134, 11, 11, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.17s;
    border-radius: 5px;
    font-size: 35px;
    color: red;
    cursor: pointer;
    box-shadow: rgba(116, 114, 131, 0.15) 0px 48px 100px 0px;
}

.playing{
    transform: scale(2);
    border: 3px solid rgb(119, 109, 109);
    box-shadow: rgb(20, 30, 41) 0px 20px 30px -10px;
    
}

.sound {
    color:white;
    text-transform: lowercase;
    font-size:15px;
}